<html>

<head>
  <title>TYG</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TYGGM</title>
  <link rel="icon" href="media/guitar.png" />
  <link rel="stylesheet" href="css/style.css" type="text/css" />
  <link rel="stylesheet" href="css/grid.css" />
  <link rel="stylesheet" href="css/normalize.css" />
  <link rel="stylesheet" href="css/queries.css" />
  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet" />
  <script rel="script" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="row">
      <div class="col span-1-of-3">
        <a class="home">
          <h2>tyg<span class="dot">&bull; </span></h2>
        </a>
        <div class="hamburger-container">
          <ion-icon class="hamburger" name="menu"></ion-icon>
          <div class="hamburger-dropdown">
            <ul class="hamburger-list">
              <li><a class="home">Guitars</a></li>
              <li><a class="aaa">Amps & Accessories</a></li>
              <li><a class="contact-nav">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col span-2-of-3 bs-nav">
        <ul class="navbar-nav">
          <li class="dropdown">
            shop
            <div class="dropdown-content">
              <ul class="dropdown-list">
                <li><a class="home">Guitars</a></li>
                <li><a class="aaa">Amps & Accessories</a></li>
              </ul>
            </div>
          </li>
          <li><a class="contact-nav">contact</a></li>
          <li>
            <a href="#" class="wishlist">
              <ion-icon name="heart-empty"></ion-icon>
            </a>
          </li>
          <li class="cart">
            <a href="#" class="cart">
              <ion-icon name="ios-cart"></ion-icon>
            </a>
          </li>
          <li class="cart">
            <a href="#" class="logicon">
              <ion-icon name="ios-person"></ion-icon>
            </a>
          </li>
          <li class="small-screen-menu"></li>
        </ul>
      </div>
    </div>
  </header>
  <section class="product-info">
    <div class="row">
      <div class="img-show row">
        <div class="big-pic-cont col span-2-of-2">
          <img class="big-pic" />
        </div>
        <div class="row small-pic-cont">
          <div class="col span-1-of-3">
            <img class="smallpic smallpic1" src="media/voxamp1.jpeg" />
          </div>
          <div class="col span-1-of-3">
            <img class="smallpic smallpic2" src="media/voxamp2.jpeg" />
          </div>
          <div class="col span-1-of-3">
            <img class="smallpic smallpic3" src="media/voxampback.jpeg" />
          </div>
        </div>
        <button class="submit-btn">Buy this item</button>
      </div>
    </div>
  </section>
  <section class="contact-section">
    <div class="row">
      <div class="col span-3-of-3 contact-info">
        <h3>You can reach us with the following contact information:</h3>
        <p>Call us on this number: +31612312312</p>
        <p>Or send an email to the following address: email@info.io</p>
        <form class="contact-form" method="POST" action="/contact">
          <label>Or send us a message directly:</label><br /><input class="email" type="text" id="email" name="email"
            placeholder="Type your email here..." required /><br /><textarea name="message" id="message" placeholder="Type your messase in here..."
            required></textarea><br />
          <input class="submit-btn" type="submit" />
        </form>
      </div>
    </div>
  </section>
  <section class="formsec">
    <div class="row">
      <div class="col span-2-of-2">
        <h3>You're almost finished</h3>
        <h4>Just fill out this form to verify your order</h4>
      </div>
    </div>
    <form class="form" action="/formed" method="POST">
      <div class="row">
        <div class="col span-1-of-3 form-left-col"><label>Name</label></div>
        <div class="col span-2-of-3 form-right-col"><input required type="text" name="name" id="name"></div>
      </div>
      <div class="row">
        <div class="col span-1-of-3 form-left-col"><label>Email</label></div>
        <div class="col span-2-of-3 form-right-col">
          <input type="text" name="email" id="email" required>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3 form-left-col"><label>Phone</label></div>
        <div class="col span-2-of-3 form-right-col">
          <input type="text" name="phone" id="phone" required>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3 form-left-col"><label>Address</label></div>
        <div class="col span-2-of-3 form-right-col">
          <input type="text" name="address" id="address" required>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3 form-left-col"><label>Do you want your inbox to be spammed with useless ads?</label></div>
        <div class="col span-2-of-3 form-right-col">
          Yes, please<input type="radio" name="ads" id="ads" value="yes" checked>
          No<input type="radio" name="ads" id="ads" value="no">
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3"></div>
        <div class="col span-2-of-3"> <input class="formsec-submit" type="submit"></div>
      </div>
    </form>
  </section>
  <section class="main">
    <div class="row guarantees">
      <ul>
        <li>
          <ion-icon name="card"></ion-icon> 30 days money-back guarantee
        </li>
        <li>
          <ion-icon name="cube"></ion-icon> If you order before 11pm, your
          package will be delivered to you the next day
        </li>
        <li>
          <ion-icon name="call"></ion-icon> 24/7 Customer support
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col span-1-of-3"></div>
      <div class="col span-2-of-3">
        <img src="media/fenderbanner3.jpg" class="fender-banner" />
      </div>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/jaguar.jpg" alt="jaguar" />
          <div class="product-text">
            <p>Fender American Vintage Jaguar</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/strat.jpeg" alt="stratocaster" />
          <div class="product-text">
            <p>Fender American-Standard Stratocaster 2019</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/tele.jpg" alt="telecaster" />
          <div class="product-text">
            <p>Fender American-Standard Telecaster 2019</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/jaguar.jpg" alt="jaguar" />
          <div class="product-text">
            <p>Fender American Vintage Jazzmaster</p>
            <p class="inline-block">$1299,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/jagbass.jpg" alt="stratocaster" />
          <div class="product-text">
            <p>Fender Jaguar-Bass</p>
            <p class="inline-block">$799,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col span-1-of-3"></div>
      <div class="col span-2-of-3 ">
        <img src="media/gibsonbanner.jpg" class="fender-banner" />
      </div>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/gibhum.jpg" alt="jaguar" />
          <div class="product-text">
            <p>Gibson Vintage Hummingbird</p>
            <p class="inline-block">$4999,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/gsg.JPG" alt="stratocaster" />
          <div class="product-text">
            <p>Gibson Standard SG</p>
            <p class="inline-block">$2500,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/glp.JPG" alt="telecaster" />
          <div class="product-text">
            <p>Gibson Les Paul Original 2019</p>
            <p class="inline-block">$3499,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="main-second">
    <div class="row guarantees">
      <ul>
        <li>
          <ion-icon name="card"></ion-icon> 30 days money-back guarantee
        </li>
        <li>
          <ion-icon name="cube"></ion-icon> If you order before 11pm, your
          package will be deliverd to you the next day
        </li>
        <li>
          <ion-icon name="call"></ion-icon> 24/7 Customer support
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col span-1-of-3"></div>
      <div class="col span-2-of-3">
        <img src="media/voxbanner.jpg" class="fender-banner" />
      </div>
    </div>
    <div class="row">
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/voxamp1.jpeg" alt="jaguar" />
          <div class="product-text">
            <p>VOX AC30C2</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/jagcase.jpg" alt="stratocaster" />
          <div class="product-text">
            <p>Fender American-Vintage Jaguar Case</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
      <div class="col span-1-of-3">
        <div class="product-container">
          <img src="media/marshamp.jpg" alt="telecaster" />
          <div class="product-text">
            <p>Marshall DSL40CR</p>
            <p class="inline-block">$1699,-</p>
            <button class="addNum inline-block">Add to cart</button>
            <ion-icon name="heart-empty" class="add-to-favorites"></ion-icon>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <div class="row">
      <div class="col span-1-of-2 social">
        <ul>
          <li>
            <a>
              <ion-icon class="twitter" name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li>
            <a>
              <ion-icon class="facebook" name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li>
            <a>
              <ion-icon class="ig" name="logo-instagram"></ion-icon>
            </a>
          </li>
          <li>
            <a>
              <ion-icon class="gp" name="logo-googleplus"></ion-icon>
            </a>
          </li>
        </ul>
      </div>
      <div class="col span-1-of-2 footer-list">
        <ul>
          <li>FAQ</li>
          <li class="contact-nav">Contact</li>
          <li>Get our app in the App or playstore</li>
        </ul>
      </div>
    </div>
    <div class="row copy">
      <p>Copyright &copy; TYG</p>
    </div>
  </footer>
  <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
  <script rel="script" src="script/script.js"></script>
</body>

</html>