@charset 'utf-8';
/*Main setup*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.inline-block {
  display: inline-block;
}
body {
  position: relative;
  background-color: #ffffff;
}
html {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #555;
  text-rendering: optimizeLegibility;
}
h1,
h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
}
h1,
h2,
h3,
html {
  font-weight: 300;
}
.row {
  max-width: 1140px;
  margin: auto;
}
.main .row,
.main-second .row {
  margin: 50px auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
section {
  padding: 80px 0;
}
a,
li {
  text-decoration: none;
  cursor: pointer;
}
/*Header*/
.hamburger {
  display: none;
}
header {
  background-color: #2d3436;
  position: fixed;
  z-index: 10;
  width: 100%;
  box-shadow: 0 5px 8px #00000070;
}
header h2 {
  color: #cecece;
  margin: 4px;
  display: inline-block;
}
.dot {
  color: #0984e3;
}
.small-screen-menu {
  display: none;
}
.navbar-nav {
  float: right;
  height: 100%;
  vertical-align: middle;
}
.navbar-nav:first-child {
  cursor: pointer;
}
.navbar-nav li {
  display: inline-block;
}
.navbar-nav li a,
.dropdown {
  padding: 3px 30px;
  color: #cecece;
  transition: color 0.3s;
  display: inline-block;
}
.navbar-nav li a:hover,
.dropdown:hover {
  color: #0984e3;
}
.navbar-nav li a.cart,
.navbar-nav li a.wishlist,
.navbar-nav li a.logicon {
  color: #cecece;
  padding-bottom: 0;
  padding-top: 0;
  vertical-align: middle;
}

.navbar-nav li a.wishlist:hover {
  color: #d63031;
}
.navbar-nav li a.logicon:hover {
  color: #0984e3;
}
.navbar-nav li a.cart:hover {
  color: #fdcb6e;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.hamburger-container {
  display: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 46px;
  right: -40px;
  background-color: #fff;
  min-width: 160px;
  border: 1px solid rgb(180, 180, 180);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 20;
}
.dropdown:click .dropdown-content {
  display: block;
}

.dropdown-list li a {
  color: #555;
}
/*Main section*/
.guarantees {
  padding-bottom: 50px;
  margin: 20px autp;
}
.guarantees ion-icon {
  display: block;
  color: #55efc4;
  margin: 20px;
  font-size: 250%;
  float: left;
}

.guarantees ul {
  width: 80%;
  margin-left: 10%;
}
.guarantees li {
  font-size: 100%;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  color: #7a7a7a;
  width: 33%;
}
.main {
  position: relative;
  padding-top: 130px;
}
.product-container {
  width: 90%;
  margin-left: 5%;
  text-align: center;
  border: 1px solid transparent;
  transition: border 0.5s;
  color: #555;
}
.product-container:hover {
  border: 1px solid rgb(110, 110, 110, 0.5);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.product-container:hover .product-text p:first-of-type {
  color: #0984e3;
}
.product-text p {
  transition: color 0.5s;
}
.product-text p:last-of-type {
  font-weight: 700;
  margin-top: 20px;
}
.product-container img {
  width: 90%;
  height: auto;
}
.product-text {
  text-align: left;
  padding: 20px;
}
.addNum {
  border-radius: 15px;
  padding: 10px;
  margin-left: 20px;
}
.fender-banner {
  width: 100%;
  height: auto;
}
.add-to-favorites {
  color: #555;
  font-size: 150%;
  vertical-align: middle;
  transition: color 0.3s;
  margin-left: 5px;
}
.add-to-favorites:hover {
  color: #d63031;
  cursor: pointer;
}
/*FOOTER*/
footer {
  background-color: #2d3436;
}
.social ul li {
  display: inline-block;
  text-decoration: none;
  font-size: 150%;
  margin: 20px;
}
.social ul li a {
  color: #cecece;
}
.social ul li a ion-icon {
  transition: color 0.5s;
}
.twitter:hover {
  color: #1da1f2;
  cursor: pointer;
}
.facebook:hover {
  color: #365899;
  cursor: pointer;
}
.ig:hover {
  color: #ffdc7d;
  cursor: pointer;
}
.gp:hover {
  color: #db4437;
  cursor: pointer;
}
.footer-list ul li {
  text-decoration: none;
  color: #cecece;
  font-size: 80%;
  list-style: none;
  margin: 20px;
  cursor: pointer;
}
.footer-list ul {
  text-align: center;
}
.copy {
  text-align: center;
  padding: 30px;
}
.copy p {
  color: #cecece;
  font-size: 40%;
}
.footer-list,
.social {
  padding-top: 20px;
}
/*SECTION PRODUCT INFO*/

.product-info {
  display: none;
}
.big-pic {
  width: 400px;
  height: 400px;
  background-image: url("../media/voxamp1.jpeg");
  margin: 10px auto;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
}
.big-pic-cont {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}
.small-pic-cont {
  width: 70%;
  margin: 10px auto;
  text-align: center;
}
.smallpic {
  width: 100px;
  height: 100px;
}
.img-show {
  text-align: center;
}
.img-show button {
  margin-top: 40px;
}

/*SECTION CONTACT INFO*/
.contact-section {
  display: none;
  padding-top: 150px;
  width: 70%;
  margin: 0 auto;
}
.contact-info {
  margin: 20px auto;
}
.contact-info h3,
.contact-info p,
.contact-info label {
  margin-bottom: 15px;
}
.contact-info h3 {
  font-size: 150%;
}
.contact-info p {
  font-size: 90%;
}
.contact-form textarea {
  margin-top: 30px;
  width: 300px;
  height: 200px;
  border-radius: 15px;
}
.submit-btn {
  padding: 10px 16px;
  background-color: #0984e3;
  border-radius: 15px;
  margin-top: 10px;
  cursor: pointer;
}
.email {
  border-radius: 15px;
  width: 300px;
  margin-top: 15px;
}
/*SECTION a&a*/

.main-second {
  display: none;
}
/*contacted.hbs contacted section*/
.contacted-ty {
  padding: 100px 0 200px 0;
}
.contacted-row h3 {
  font-size: 150%;
  margin-bottom: 30px;
}
.contacted-row p {
  font-size: 90%;
  margin-bottom: 5px;
}
/* form*/
.formsec {
  display: none;
  padding: 100px 20px;
}
.formsec .form {
  width: 100%;
}
.form-left-col {
  text-align: right;
}
.formsec-submit {
  padding: 10px 16px;
  background-color: #0984e3;
  border-radius: 15px;
  margin: 10px auto;
  cursor: pointer;
}
.formed {
  padding: 200px 0 100px 0;
}
.formed h3,
.formed h4 {
  margin-left: 15%;
  margin-bottom: 25px;
}
